/***************************/
/* ------ VARIABLES ------ */
/***************************/
:root {
  /* ------ Colors ------ */
  --primary-accent: #7bdf89;
  --secondary-accent: #fbee6c;
  --tertiary-accent: #32548a;
  --white: #ffffff;
  --medium-light-grey: #efefef;
  --black: #0d1624;

  /********** REVISAR ***********/
  --color-primary: #2c3e50;
  --color-accent: #3b82f6;
  --bg-light: #f8fafc;
}

/***********************/
/* ------ RESET ------ */
/***********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    Montserrat,
    sans-serif,
    system-ui,
    -apple-system;
  font-optical-sizing: auto;
  letter-spacing: -0.015em;
  color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/***************************/
/* ------ UTILITIES ------ */
/***************************/
.dark-gradient {
  background: linear-gradient(180deg, var(--tertiary-accent) 0%, var(--black) 50%);
}

.light-gradient {
  background: linear-gradient(180deg, var(--secondary-accent) 0%, var(--primary-accent) 100%);
}

/****************************/
/* ------ TYPOGRAPHY ------ */
/****************************/
.page-title {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.section-title {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.body-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.015em;
}

.body-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

.block-title {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.single-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.015em;
}

.caption {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 54px;
    line-height: 72px;
  }

  .section-title {
    font-size: 36px;
    line-height: 54px;
  }

  .body-title {
    font-size: 24px;
    line-height: 36px;
  }

  .body-text {
    font-size: 24px;
    line-height: 32px;
  }

  .block-title {
    font-size: 24px;
    line-height: 36px;
  }

  .single-title {
    font-size: 48px;
    line-height: 68px;
  }

  .caption {
    font-size: 18px;
    line-height: 22px;
  }
}

/************************/
/* ------ LAYOUT ------ */
/************************/
.layout-section {
}

.layout-section--boxed {
  padding-left: 16px;
  padding-right: 16px;
}

main {
  flex: 1;
}

@media (min-width: 768px) {
  .layout-section--boxed {
    padding-left: 16px;
    max-width: 1224px;
    margin: 0 auto;
  }
}

/*****************************/
/* ------ FORM FIELDS ------ */
/*****************************/
.form-field {
}

.form-field__label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

.form-field__control {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #8a9596;
  border-radius: 4px;
  background-color: var(--white);
  font-family: inherit;
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #546a6d;
  min-width: 150px;
  min-height: 46px;
}

.form-field__control::placeholder {
  color: #bbc7c8;
}

.form-field__control:focus {
  outline: none;
  border-color: var(--tertiary-accent);
}

select.form-field__control {
  appearance: none;
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.537 0.263604C15.8885 0.615076 15.8885 1.18557 15.537 1.53704L8.53704 8.53704C8.18557 8.88851 7.61507 8.88851 7.2636 8.53704L0.263602 1.53704C-0.0878696 1.18557 -0.0878696 0.615076 0.263602 0.263604C0.615074 -0.087868 1.18557 -0.087868 1.53704 0.263604L7.90032 6.62688L14.2636 0.263604C14.6151 -0.087868 15.1856 -0.087868 15.537 0.263604Z' fill='%234F4F4F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

/* ------ Month Year Picker ------ */
.month-year-picker {
  font-size: 20px;
}

.month-year-picker__control {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 46px;
}

.month-year-picker__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  all: unset;
  border-radius: 4px;
  border: 1px solid transparent;
}

.month-year-picker__button img {
  display: block;
}

.month-year-picker__button:focus {
  outline: none;
  border: 1px solid var(--tertiary-accent);
}

/****************************/
/* ------ COMPONENTS ------ */
/****************************/

/* ------ Button ------ */
.button {
  all: unset;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  border-radius: 40px;
  text-transform: uppercase;
}

/* sizes */
.button--small {
  padding: 10px 24px;
  font-size: 14px;
}

.button--medium {
  padding: 16px 40px;
  font-size: 16px;
}

.button--large {
  padding: 24px 60px;
  font-size: 20px;
}

/* colors */
.button--primary {
  background-color: var(--primary-accent);
  color: var(--black);
}

.button--primary:hover {
  background-color: #87eb95;
}

.button--primary:active {
  background-color: #71ca7d;
}

.button--secondary {
  background-color: var(--secondary-accent);
  color: var(--black);
}

.button--secondary:hover {
  background-color: #fff486;
}

.button--secondary:active {
  background-color: #ebde63;
}

.button--tertiary {
  background-color: var(--tertiary-accent);
  color: var(--white);
}

.button--tertiary:hover {
  background-color: #3f67a7;
}

.button--tertiary:active {
  background-color: #243a5e;
}

/* ------ Product Card ------ */
.product-card {
  border-radius: 24px;
  overflow: hidden;
  background: var(--medium-light-grey);
  max-width: 392px;
}

.product-card__image-container {
  border-radius: 24px;
  overflow: hidden;
}

.product-card__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.product-card__details {
  padding: 24px;
}

.product-card__info {
  margin-bottom: 12px;
}

.product-card__price {
  font-size: 16px;
}

/* ------ Hero Block ------ */
.hero-block {
  position: relative;
  height: 400px;
}

.hero-block__image-container {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  cursor: grab;
  height: 100%;
}

.hero-block__image-container::-webkit-scrollbar {
  display: none;
}

.hero-block__image-container .hero-block__image {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.hero-block::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 1;
}

.hero-block__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-block__details {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
  color: var(--white);
  gap: 24px;
  pointer-events: none;
  z-index: 2;
}

.hero-block__details a {
  cursor: pointer;
  pointer-events: auto;
}

.hero-block__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .hero-block {
    height: auto;
  }

  .hero-block__details {
    margin-bottom: 48px;
  }
}

/* ------ Activity Card ------ */
.photo-text-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.photo-text-block__image-container {
  flex: 1;
}

.photo-text-block__image {
  display: block;
  width: 100%;
}

.photo-text-block__details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  flex: 1;
}

.photo-text-block__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .photo-text-block {
    flex-direction: row;
    gap: 124px;
  }

  .photo-text-block__details {
    justify-content: center;
  }
}

/* ------ Activity Card ------ */
.activity-card {
  border-radius: 24px;
  overflow: hidden;
  background: var(--medium-light-grey);
  max-width: 392px;
}

.activity-card__image-container {
  border-radius: 24px;
  overflow: hidden;
}

.activity-card__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.activity-card__details {
  padding: 24px;
}

.activity-card__info {
  margin-bottom: 12px;
}

.activity-card__date {
  font-size: 10px;
  font-weight: 300;
}

.activity-card__title {
  font-size: 20px;
}

.activity-card__meta-datas {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.activity-card__meta-data-title {
  font-size: 8px;
  font-weight: 300;
  text-transform: uppercase;
}

.activity-card__meta-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* ------ Community Card ------ */
.community-card {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  max-width: 392px;
}

.community-card__image-container {
}

.community-card__image-container--slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  cursor: grab;
}

.community-card__image-container--slider::-webkit-scrollbar {
  display: none;
}

.community-card__image-container--slider .community-card__image {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.community-card__image-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  pointer-events: none;
}

.community-card__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.community-card__details {
  padding: 24px;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}

.community-card__details .button {
  pointer-events: auto;
}

.community-card__details .chip {
  align-self: flex-end;
}

.community-card__info {
  margin-bottom: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
}

.community-card__date {
  font-size: 10px;
  font-weight: 300;
}

.community-card__title {
  font-size: 20px;
}
/* ------ Chip ------ */
.chip {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 10px;
  gap: 6px;
  background: var(--white);
  font-size: 12px;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 16px;
}

.chip--success::before,
.chip--warning::before,
.chip--danger::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.chip--success::before {
  background: #27ae60;
}

.chip--warning::before {
  background: #f3ae00;
}

.chip--danger::before {
  background: #f74a10;
}

/* ------ Filters ------ */
.filters {
  background-color: var(--white);
  padding: 16px;
}

.filters--desktop {
  display: none;
}

.filters__details {
  position: relative;
}

.filters__toggler {
  list-style: none;
  cursor: pointer;
  color: var(--tertiary-accent);
}

.filters__toggler::-webkit-details-marker {
  display: none;
}

details[open] .filters__toggler-icon {
  transform: rotate(180deg);
}

.filters__form {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 24px;
  background: var(--white);
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 1;
  position: absolute;
  top: 30px;
  right: -3px;
  min-width: 260px;
}

@media (min-width: 768px) {
  .filters {
    display: block;
    padding: 0;
  }

  .filters--mobile {
    display: none;
  }

  .filters__toggler {
    display: none;
  }

  .filters__form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    background: transparent;
    box-shadow: none;
    position: relative;
    top: 0;
    right: 0;
  }
}

/* ------ Dots indicators ------ */
.dots-indicators {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 8px;
}

.dot-indicator {
  background: var(--white);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* ------ CTA ------ */
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background: radial-gradient(
    136.21% 776.62% at 50% 312.94%,
    var(--primary-accent) 0.25%,
    var(--secondary-accent) 50.29%
  );
  padding: 32px;
}

.cta__title {
  text-align: center;
  flex: 1;
  color: var(--tertiary-accent);
}

@media (min-width: 768px) {
  .cta {
    flex-direction: row;
    padding: 75px;
    gap: 48px;
  }

  .cta__title {
    text-align: left;
  }
}

/************************/
/* ------ HEADER ------ */
/************************/
.header {
  position: relative;
  background-color: var(--black);
  padding: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  display: block;
}

.header__nav--desktop {
  display: none;
}

.header__details {
  display: block;
}

.header__summary {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  list-style: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.header__summary::-webkit-details-marker {
  display: none;
}

.header__summary::marker {
  content: '';
}

.header__nav--mobile {
  overflow: hidden;
  transition:
    opacity 0.2s ease,
    transform 0.25s ease;
  width: 100%;
  background-color: var(--black);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: scaleY(0.9);
  transform-origin: top;
  pointer-events: none;
  will-change: transform, opacity;
  user-select: none;
}

.header__details[open] .header__nav--mobile {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

.header__menu {
  list-style: none;
  color: var(--white);
  padding: 16px;
}

.header__item {
  margin-bottom: 16px;
}

.header__item:last-child {
  margin-bottom: 0;
}

.header__link {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  font-style: italic;
}

.header__link:hover {
  color: var(--primary-accent);
}

.header__hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--white);
  position: relative;
  transition: background-color 0.3s;
}

.header__hamburger::before,
.header__hamburger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: var(--white);
  left: 0;
  transition: top 0.3s;
}

.header__hamburger::before {
  top: -8px;
}

.header__hamburger::after {
  top: 8px;
}

@media (min-width: 768px) {
  .header {
    padding: 8px 70px;
  }

  .header__details {
    display: none;
  }

  .header__nav--desktop {
    display: block;
    position: static;
    width: auto;
    background-color: transparent;
  }

  .header__menu {
    display: flex;
    gap: 32px;
    padding: 0;
  }

  .header__item {
    margin-bottom: 0;
  }
}

/************************/
/* ------ FOOTER ------ */
/************************/
.footer {
  background: linear-gradient(180deg, var(--tertiary-accent) 0%, var(--black) 50%);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding: 56px;
}

.footer__columns {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.footer__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer a {
  color: var(--primary-accent);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__social-logos {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.footer__legal-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 768px) {
  .footer__columns {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__legal-links {
    flex-direction: row;
  }
}
